<div>
    <h2>Achievements</h2>
    <h4>Total points: {{totalPoints}}</h4>
</div>

<div class="filter-container">

    <section class="filtro">
        <select id="seleccion-filtro" [(ngModel)]="nombreFiltro" (change)="filtrarHistorial()">
            <option value="All" selected>All</option>
            <option *ngFor="let n of nombresHistorial" [value]="n">{{n}}</option>
        </select>
    </section>

</div>

<div class="container">
    <section class="historiales">
        <div class="historial" *ngFor="let h of historialMostrado">
            <p>{{h.nombre}}</p>
            <p>{{h.fecha_registro}}</p>
            <p>{{h.puntuacion}}</p>
            <p>{{h.puntual == 1 ? '✅' : '❌'}}</p>
        </div>
    </section>
</div>