<div class="header">
    <h2>Achievements</h2>
    <h4>Total points: {{totalPoints}}</h4>
</div>

<div class="filter-container">

    <section class="filtro">
        <select id="seleccion-filtro" [(ngModel)]="nombreFiltro" (change)="filtrarHistorial()">
            <option value="All" selected>All</option>
            <option *ngFor="let n of nombresHistorial" [value]="n">{{n}}</option>
        </select>
    </section>

</div>

<div class="container">
    <section class="historiales">
        <h3 class="no-achievements" *ngIf="historial.length === 0">NO ACHIEVEMENTS YET</h3>
        <div class="historial" *ngFor="let h of historialMostrado">
            <div class="content-historial">
                <h4>Name:</h4>
                <p>{{h.nombre}}</p>
                <h4>Date:</h4>
                <p>{{h.fecha_registro}}</p>
                <h4>Points:</h4>
                <p>{{h.puntuacion}}</p>
            </div>
            <div class="okey">
                <p id="okey"
                    [ngStyle]="h.puntual == 1 ? {'background-color': '#68C699'} : {'background-color': '#962918'}">
                </p>
            </div>
        </div>
    </section>
</div>