<h2>NEW HABBBIT</h2>
<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="nombre">Habit Name</label>
            <input type="text" id="nombre" name="nombre" formControlName="nombre" required>
        </div>
        <div class="form-group">
            <label for="descripcion">Description</label>
            <textarea id="descripcion" name="descripcion" formControlName="descripcion" required></textarea>
        </div>
        <div>
            <label for="frecuencia">Frequency</label>
            <select id="frecuencia" name="frecuencia" formControlName="frecuencia" required>
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
            </select>
        </div>
        <div class="form-group">
            <label for="duracion">Duration</label>
            <input type="number" id="duracion" name="duracion" formControlName="duracion" required>
        </div>
        <button type="submit" [disabled]="!form.valid">Create Habit</button>
    </form>
</div>