.container {
    animation: slideIn 300ms ease-in forwards;
    transform: translateX(100%);
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100dvw;
}

/* Estilos para desktop (media queries) */
@media (min-width: 768px) {
    .form-group {
        min-width: 200px;
        width: 50dvw;
        max-width: 500px;
    }

    label {
        font-size: 1.2em;
        display: block;
        margin: 10px 0;
        text-align: center;
    }

    input,
    button {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        border: 1px solid #000000;
        border-radius: 10px;
    }

    input {
        background-color: #68C699;
    }

    button {
        margin-top: 20px;
        font-size: 1.5em;
        background-color: #F88E25;
        color: #FFFFFF;
        cursor: pointer;
    }
}

/* Estilos para mobile (media queries) */
@media (max-width: 767px) {
    .form-group {
        min-width: 200px;
        width: 80dvw;
        max-width: 500px;
    }

    label {
        display: block;
        margin: 10px 0;
        text-align: center;
    }

    input,
    button {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        border: 1px solid #000000;
    }

    input {
        background-color: #68C699;
        border-radius: 10px;
    }

    button {
        margin-top: 20px;
        font-size: 1.5em;
        background-color: #F88E25;
        color: #FFFFFF;
        cursor: pointer;
        border-radius: 50px;
    }
}

label {
    user-select: none;
}

.container>.titulo {
    width: 90dvw;
    font-size: 3em;
    text-align: center;
    padding-top: 0;
    user-select: none;
}

button:hover {
    transition: 300ms;
    background-color: #5C4E35;
    transform: scale(1.1);
}

button:not(:hover) {
    transition: 300ms;
    background-color: #F88E25;
    transform: scale(1);
}

.error {
    color: red;
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
}