<div class="container">
    <div class="header">
        <h2>Profile</h2>
    </div>

    <div class="perfil">
        <form>

            <div class="input-group">
                <section class="label">
                    <label for="name">Name</label>
                </section>
                <input type="text" value={{nombre}} class="input" id="name" name="name" disabled>
            </div>

            <div class="input-group">
                <section class="label">
                    <label for="email">Email</label>
                </section>
                <input type="email" value={{email}} class="input" id="email" name="email" disabled>
            </div>

            <div class="input-group">
                <section class="label">
                    <label for="num-habitos">Number of Habits</label>
                </section>
                <input type="number" value={{numeroHabitos}} class="input" id="num-habitos" name="num-habitos" disabled>
            </div>

            <div class="input-group">
                <section class="label">
                    <label for="password">Password</label>
                </section>
                <input type="password" value="--------" class="input" id="password" name="password" disabled>
            </div>

            <button type="button" (click)="btnUpdate()">UPDATE</button>

        </form>
    </div>
</div>