.container {
    opacity: 0;
    animation: simpleFadeIn 250ms ease-in 200ms forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: fit-content;
    width: fit-content;
    margin-bottom: 30px;
}

@keyframes simpleFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.header {
    padding: 20px;
}

.perfil {
    width: 100%;
    height: fit-content;
    background-color: #D7D73C;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
}

.input-group {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

label {
    font-weight: 500;
    font-size: x-large;
    margin: 30px 0 10px 0;
    height: 10%;
}

input {
    width: 480px;
    height: 30px;
    border-radius: 10px;
    border: 3px solid #5D4157;
    padding: 10px;
    margin-bottom: 10px;
    color: #000;
}

button {
    align-self: center;
    width: 150px;
    height: 50px;
    margin: 10px 0;
    border: 1px solid #000;
    background-color: #5D4157;
    color: #fff;
    border-radius: 10px;
    font-size: large;
    font-weight: 900;
    cursor: pointer;
}

button:hover {
    transition: 200ms;
    scale: 1.05;
    background-color: #50384b;
}

button:not(:hover) {
    transition: 200ms;
}

@media (max-width: 768px) {
    .input-group {
        width: 300px;
    }

    input {
        width: 280px;
    }

    button {
        border-radius: 50px;
        width: 200px;
    }
}