.active {
    color: #FDFDCB;
}

a {
    cursor: pointer;
    transition: color 0.3s;
}

a:hover {
    color: #FDFDCB;
}

nav {
    position: fixed;
    top: 0;
    height: auto;
    width: 60%;
    min-width: 500px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    background-color: #5C4E35;
    border-radius: 50px;
    box-shadow: 0 0 15px #000000;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
    height: 1dvh;
}

nav ol {
    list-style: none;
}

nav ul img {
    height: 50px;
    padding-top: 7px;
}

li {
    float: left;
    padding: 10px 10px;
    background-color: #F88E25;
    border-radius: 50px;
    box-shadow: 0 0 5px #5C4E35;
}

#logo {
    background: none;
    box-shadow: none;
}

#btn-logout {
    padding: 20px;
    background-color: #F88E25;
    color: #FFFFFF;
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 10px;
}

#btn-logout:hover {
    transition: 300ms;
    background-color: #5C4E35;
    transform: scale(1.1);
}

#btn-logout:not(hover) {
    transition: 300ms;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: fit-content;
    width: 99vw;
}

.btn-logout {
    float: right;
    margin: 20px 20px 20px 0;
}