<nav>
    <ul>
        <li>
            <a (click)="showSection('mishabitos')" [class.active]="activeSection === 'mishabitos'">My Habits</a>
        </li>
        <li>
            <a (click)="showSection('recomendados')" [class.active]="activeSection === 'recomendados'">Recomends</a>
        </li>
        <li id="logo">
            <p>LOGO</p>
        </li>
        <li>
            <a (click)="showSection('logros')" [class.active]="activeSection === 'logros'">Scopes</a>
        </li>
        <li>
            <a (click)="showSection('perfil')" [class.active]="activeSection === 'perfil'">Profile</a>
        </li>
    </ul>
</nav>

<div class="container">
    <app-mishabitos *ngIf="activeSection === 'mishabitos'"></app-mishabitos>
    <app-recomendados *ngIf="activeSection === 'recomendados'"></app-recomendados>
    <app-logros *ngIf="activeSection === 'logros'"></app-logros>
    <app-perfil *ngIf="activeSection === 'perfil'"></app-perfil>
</div>