<nav class="nav-desktop" [ngClass]="{ 'mostrar': toggleMenu }">
    <div class="hamburguesa" (click)="toggleMenuLateral()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul>
        <li>
            <a (click)="showSection('mishabitos')" [class.active]="activeSection === 'mishabitos'">Habbbits</a>
        </li>
        <li>
            <a (click)="showSection('recomendados')" [class.active]="activeSection === 'recomendados'">Recommended</a>
        </li>
        <li>
            <a (click)="showSection('logros')" [class.active]="activeSection === 'logros'">Achievements</a>
        </li>
        <li>
            <a (click)="showSection('perfil')" [class.active]="activeSection === 'perfil'">Profile</a>
        </li>
    </ul>
</nav>

<div class="btn-logout" id="bye-mobile">
    <button id="btn-logout" (click)="btnLogout()"><img src="/assets/images/salir.png" alt="LOG OUT"></button>
</div>

<div class="container" (click)="cerrarMenuLateral()">
    <app-mishabitos *ngIf="activeSection === 'mishabitos'"></app-mishabitos>
    <app-recomendados *ngIf="activeSection === 'recomendados'"></app-recomendados>
    <app-logros *ngIf="activeSection === 'logros'"></app-logros>
    <app-perfil *ngIf="activeSection === 'perfil'"></app-perfil>
</div>