a {
    cursor: pointer;
    transition: color 0.3s, text-decoration-color 0.3s;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

a:hover,
.active {
    color: #FDFDCB;
}

a:hover::after,
.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: #FDFDCB;
    animation: underlineAnimation 0.4s ease-out forwards;
}

@keyframes underlineAnimation {
    from {
        transform: scaleX(0);
        transform-origin: left;
    }

    to {
        transform: scaleX(1);
        transform-origin: left;
    }
}

nav {
    position: fixed;
    top: 0;
    height: auto;
    width: 60%;
    min-width: 500px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    background-color: #5C4E35;
    border-radius: 50px;
    box-shadow: 0 0 15px #000000;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
    margin: 0 auto;
    list-style: none;
    height: fit-content;
}

nav ul img {
    height: 50px;
    padding-top: 7px;
}

li {
    float: left;
    margin: 0;
    padding: 10px;
    background-color: #F88E25;
    border-radius: 50px;
    box-shadow: 0 0 5px #5C4E35;
    user-select: none;
}

#logo {
    background: none;
    box-shadow: none;
}

#btn-logout {
    font-size: 1.2em;
    padding: 20px;
    background-color: #F88E25;
    color: #FFFFFF;
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 10px;
    user-select: none;
}

#btn-logout:hover {
    transition: 300ms;
    background-color: #962918;
    transform: scale(1.1);
}

#btn-logout:not(hover) {
    transition: 300ms;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: fit-content;
    width: fit-content;
    min-width: 99dvw;
}

.btn-logout {
    float: right;
    margin: 20px 20px 20px 0;
}

@media (max-width: 767px) {}