.container {
    opacity: 0;
    animation: simpleFadeIn 250ms ease-in 200ms forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 20px;
    max-width: 70dvw;
}

@keyframes simpleFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.recomendados {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: fit-content;
    border-radius: 10px;
}

.habito {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 10px;
    padding: 10px 20px;
    background-color: #D7D73C;
    border: 1px solid #000;
    border-radius: 10px;
    width: 320px;
    height: 300px;
}

.habito>h3 {
    font-weight: 900;
    font-size: x-large;
    margin: 30px 0 10px 0;
    height: 10%;
}

.habito>p {
    height: 45%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    line-clamp: 7;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-habits {
    margin: 50px;
}

.btns-habito button:hover,
#btn-usar:hover {
    transition: all 200ms ease;
    transform: scale(1.05);
}

.btns-habito button:not(:hover),
#btn-usar:not(:hover) {
    transition: 200ms;
}

#btn-usar {
    background-color: #68C699;
    padding: 15px 15px;
    margin-bottom: 5px;
    font-size: large;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}