<div class="container">
    <div class="header">
        <h2>My Habits</h2>
        <button id="btn-add" (click)="crearHabito()"><img id="add-img" src="/assets/images/nuevo.png"
                alt="NUEVO HABITO"></button>
    </div>

    <div class="mishabitos">
        <h3 class="no-habits" *ngIf="habitos.length === 0">NO HABITS YET</h3>
        <section class="habito" *ngFor="let habito of habitos">
            <h3>{{habito.nombre}}</h3>
            <p class="desc">{{habito.descripcion}}</p>
            <p class="time-left"><img id="reloj" src="/assets/images/reloj.png"
                    alt="RESTANTE">{{getRemainingTime(habito.id)}}</p>
            <div class="btns-habito">
                <button id="btn-done" (click)="doneHabito(habito.id)">
                    DONE<img src="/assets/images/comprobado.png" alt="TICK VERDE">
                </button>
                <button id="btn-update"
                    (click)="updateHabito(habito.id, habito.nombre, habito.descripcion, habito.publico == '0' ? false : true)"><img
                        src="/assets/images/editar.png" alt="EDITAR"></button>
                <button id="btn-delete" (click)="deleteTemporal(habito.id)"><img src="/assets/images/eliminar.png"
                        alt="ELIMINAR"></button>
            </div>
        </section>
    </div>
    <div class="modal" *ngIf="abrirModal" [ngStyle]="{'display': 'flex'}">
        <div class="modal-content">
            <h3>Sure to delete?</h3>
            <div class="btns-modal">
                <button class="delete" (click)="deleteHabito()"><img src="/assets/images/eliminar.png"
                        alt="BORRAR"></button>
                <button class="close" (click)="cerrarModal()"><img src="/assets/images/cerrar.png"
                        alt="CERRAR"></button>
            </div>
        </div>
    </div>
</div>